/* 伝言ページのスタイル */
.message-page {
    background: rgba(0, 204, 153, .1);
    padding: 10px;
}
.message {
    padding: 10px;
    background: #fff;
}
.message-body {
    display: flex;
    align-items: top;
    position: relative;
}
.message-left {
    width: 60px;
}
.message-right {
    width: calc(100% - 60px);
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}
.message-left img {
    width: 100%;
    height: 60px;
    cursor: default;
}
.message-right > .user-name {
    width: 100%;
    padding-right: 20px;
 }
.message-right .option {
    position: absolute;
    top: -10px;
    right: -10px;
}
.message-right .option::after {
    background-image: url(../img/message-option.svg);
    transform: scale(.7);
}
.option-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.option-shadow {
    display: none;
    position: absolute;
    top: 52px;
    right: 0;
    width: 100px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border-radius: 4px;
    background: #fff;
    padding: 5px 0;
    z-index: 950;
}
.option-shadow::before {
    content: "";
    position: absolute;
    top: -24px;
    right: 12px;
    width: 24px;
    height: 24px;
    border: solid 12px transparent;
    border-bottom-color: rgba(130,130,130,0.1);
    box-sizing: border-box;
}
.option-shadow::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 14px;
    width: 20px;
    height: 20px;
    border: solid 10px transparent;
    border-bottom-color: #fff;
    box-sizing: border-box;
}
.message-right .option li {
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: .8em;
}
.message-right .option li .option-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    margin-left: -10px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}
.option-icon.modify {
    background-image: url(../img/modify-message.svg);
}
.option-icon.delete {
    background-image: url(../img/delete-message.svg);
}
.message-right .option li label {
    line-height: 24px;
}
.message-right .option li::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(130, 130, 130,.1);
    transform: translate(-50%, -50%);
    transition: .3s;
}
.message-right .option li:hover::before {
    width: 100%;
    height: 100%;
}
.message-right .option li:active::before {
    width: 100%;
    height: 100%;
    background: rgba(130, 130, 130,.2);
}
.message-title {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.message-detail {
    font-size: 1.2em;
}
.message-footer {
    margin-top: 10px;
}
.message-footer {
    display: flex;
}
.message-footer li {
    width: 100px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}
.comment-icon,
.comment-like {
    display: inline-block;
    position: relative;
    height: 26px;
    overflow: hidden;
    cursor: pointer;
}
.comment-icon svg,
.comment-like svg {
    display: inline-block;
    vertical-align: middle;
    width: 26px !important;
    height: 26px !important;
    fill: rgb(130, 130, 130);
    position: absolute;
    transition: .5s;
}
.message-footer li:hover .comment-icon svg,
.message-footer li .comment-icon.send svg {
    fill: rgb(0, 204, 153);
}
.message-footer li:hover .comment-like svg {
    fill: rgba(255, 80, 80, 1);
    transform: translateY(0);
}
.message-footer span.counter {
    margin-left: 40px;
    display: inline-block;
    vertical-align: text-bottom;
}
.message-footer li:hover .comment-icon span.counter {
    color: rgb(0, 204, 153);
}
.message-footer li:hover .comment-like span.counter,
.comment-like.liked span.counter {
    color: rgba(255, 80, 80, 1);
}
#comment_liked {
    fill: rgba(255, 80, 80, 1);
    transform: scale(0);
}
.comment-like.liked #comment_liked {
    transform: scale(1);
}
.comment-like.liked #comment_like {
    transform: scale(0);
    transition-delay: .5s;
}
}
.comment-form-input {
    margin-top: 10px;
    padding: 5px;
    border: solid 1px rgb(130, 130, 130);
    background: #fff;
}
.comment-textarea {
    width: 100%;
    padding: 0;
    resize: none;
    border: none;
    line-height: 18px;
    height: 18px;
}
.comment-list {
    margin-top: 20px;
    background: #fff;
}
.comment-list > li {
    padding: 10px;
    display: flex;
    border-bottom: solid 1px rgba(0, 204, 153,.1);
}
.comment-left,
.comment-left img {
    width: 40px;
}
.comment-right {
    width: calc(100% - 40px);
    padding-left: 10px;
    box-sizing: border-box;
}
.comment-header {
    display: flex;
    align-items: center;
    position: relative;
}
.comment-header .name {
    font-weight: bold;
    width: calc(100% - 110px);
}
.comment-header .date {
    padding: 0 20px 0 10px;
    color: rgb(150, 150, 150);
    box-sizing: border-box;
    width: 100px;
    text-align: center;
}
.delete-comment-icon {
    position: absolute;
    top: -10px;
    right: -10px;
}
.delete-comment-icon::after {
    background-image: url(../img/icom-trash.svg);
    transform: scale(.5);
}