.password-form ul li {
    justify-content: space-between;
    padding: 10px 0;
}
.password-form ul li .label {
    width: 150px;
}
.password-form ul li .password {
    width: calc(100% - 200px);
}
.login-box,
.password-form .button-box {
    text-align: center;
    margin-top: 10px;
}
.login-box button,
.password-form .button-box button {
    width: 200px;
}
.login-box {
    display: none;
}